<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.michaelfotiadis.crossyscore">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".CrossyScoreApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.components.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d936fe3caf46a1a4ffc49339b09d733af6a6b6b5"/>

        <activity android:name=".ui.components.create.CreateActivity"
                  android:label="@string/title_create_score"
                  android:parentActivityName=".ui.components.main.MainActivity">
        </activity>
        <activity android:name=".ui.components.addplayer.AddPlayerActivity"
                  android:label="@string/title_add_player"
                  android:parentActivityName=".ui.components.create.CreateActivity">
        </activity>
        <activity android:name=".ui.components.mascotpicker.MascotPickerActivity"
                  android:label="@string/title_pick_mascot"
                  android:parentActivityName=".ui.components.create.CreateActivity">
        </activity>
        <activity android:name=".ui.components.scoredetails.ScoreDetailsActivity"
                  android:label="@string/title_score_details"
                  android:parentActivityName=".ui.components.main.MainActivity">
        </activity>
    </application>

</manifest>